
extends layout

block content
  div.sports-navigation-mob
    div.sport-nav-container-mob
      ul 
        each sport in sportTree
          li
            a
              span(class='sport-icon-mob ' + sport.name.replace(/ /, '').replace(/-/, ''))
                i.games-count-view-mob=sport.count
              p= sport.name


